.DS_Store
npm-debug.log
/.idea/
.idea/
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/standards.iml
.idea/vcs.xml
.idea/workspace.xml
hf/.idea/.name
hf/.idea/encodings.xml
hf/.idea/hf.iml
hf/.idea/misc.xml
hf/.idea/modules.xml
hf/.idea/scopes/scope_settings.xml
hf/.idea/vcs.xml
hf/.idea/workspace.xml