/* header css */
.header { height: 9em; position: relative; background: #e5e5e5 url(portal:/img/header_gradient) repeat-x scroll left bottom;}
.header a {text-decoration: none;}
.header a:hover{text-decoration: underline;}

/* logo variants */
.res_logo { width: 16.5em; left:1.6em; padding: .5em 0; position: absolute; line-height: 1.5em; color: #555; }
.res_logo_long { padding: .2em 0 0; }
.res_logo_oneword { padding: .8em 0 0; }
.res_name { font-size: 2.5em; line-height: 1.12em; margin: 0.25em 0 .1em; font-weight: normal; }
.res_logo_long .res_name, .res_logo_oneword .res_name { font-size: 1.8em; }
.res_logo_long .res_name { line-height: 1;}
.res_logo_oneword .res_name { margin: .4em 0 .35em; }
.res_name a { color: #444; text-shadow: .1em .1em .2em rgba(40,40,40,.3); }
.res_tagline {font-size: 1.4em; margin: 0.25em 0; font-weight: normal; color:black }
.res_logo a, .res_logo a:hover, .res_logo a:visited { text-decoration: none;} 