/* typography */
body{font:62.5%/1.3846 arial,helvetica,clean,sans-serif;background-color:#ccc;margin:0}
.grid{font-size: 1.3em}

/*general*/
img{border:0}
abbr,acronym{cursor:help;border-bottom:1px dotted #000;}
blockquote{margin:1.3846em 1em;}
p,table,pre,fieldset,dl{margin: 0.6923em 0;}
ol,ul{margin: 0.6923em 1em 0.6923em inherit}
dl dd{margin-left:1em;}
table{border-collapse:collapse;margin:1.3846em 0;}
thead{border-bottom:1px solid #eee;}
tfoot{border-top:1px solid #eee;}
th{text-align:center;background-color:#f0f0f0;}
th,td{padding:0.2em;border:1px solid #ddd;}
caption{margin-bottom:.5em;text-align:center;}
fieldset {border: 0;}

button{cursor:pointer;}
input,button,textarea{margin:2px;}
input[type="checkbox"] {margin: 3px 3px 3px 4px;}
textarea {font-family: monospace; font-size: 1.2296em; *font-size:1em; vertical-align:baseline;}

/* header typography */
/* all should be used in the context of 13px font-size, try to add to multiple of 18px for consistent vertical rhythm */
h1,.h1{font-size: 1.3846em; line-height:1.5; margin:1em 0 .5em; } /* font-size of 18px, line-height of 27px */
h2,.h2{font-size: 1.2307em; line-height:1.125; margin:1.125em 0 .5625em;} /* font-size of 16px, line-height of 18px */
h3,.h3{font-size: 1.0769em; line-height:1.2857; margin:1.2856em 0 .6428em; } /* font-size of 14px, line-height of 18px */
h4,h5,h6,h3.inline{font-size: 1em; margin:1.3846em 0 .6923em; } /* line-height of 18px */
h5,.h5{font-style:italic;font-weight:normal;}
h6, .h6 {font-weight: normal;}

h4,.h4{color:#59331f;}
h3,.h3{color:#724128;}
h2,.h2{color:#985735;}
h1,.h1{color:#000;}

/*InlineHeaders*/
h3.inline,h4.inline,h5.inline,h6.inline{display:inline;float:left;margin:0 0 -0.125em;padding-right:.3em}

/* typography helpers */
/* use in context of 13px font-size */
.whole_rhythm {margin: 1.3846em 0} /* 18px margin */
.half_rhythm {margin: .6923em 0} /* 9px margin */
.no_top_margin{margin-top:0}
.no_bottom_margin{margin-bottom:0}
.no_margin{margin:0}

/* proposed link colors */
.content a{color:#2f4a8b}
.content a:hover,.content a:active{color:#985735}
.content a:visited{color:#642a8f}

/*.no_bullets{list-style-type:none}*/
.inline_list,.inline_list_right{list-style-type:none;margin:0;padding:0}
.inline_list li{display:inline;margin-right:.3em}     /* needs to be a standard distance here and the next. */
.inline_list_right li{display:inline;margin-left:.4em;}
.column_list{list-style-type:none;margin:0;padding:0}
.column_list li{float:left;width:8em}
.offscreen{text-indent:-9999px}
.offscreen_noflow{float:left;text-indent:-9999em;_display:block;margin:0;padding:0;/*safari bugfix:*/height:0;}
.left{float:left}
.right{float:right}
.align_right{text-align:right}
.hidden{display:none}
.nowrap{white-space:nowrap}
.noborder{border:0}
.no_max_width{max-width:none;overflow:auto}
.inline_block{display:-moz-inline-box;display:inline-block;*display:inline;zoom:1;}
.clearfix:before,.clearfix:after{content:"";display:table}.clearfix:after{clear:both}.clearfix{zoom:1}

.small,sup,sub{font-size:.8461em; line-height: 1.6363em;} /*11px font-size */
.small sup,.small sub{font-size:1em}
sup,sub{position:relative;vertical-align:baseline;}
sup{top:-.5em}
sub{top:.25em}

.shadow {-webkit-box-shadow: 0.4em 0.4em 0.5em rgba(0,0,0,.3);-moz-box-shadow: 0.4em 0.4em 0.5em rgba(0,0,0,.3);box-shadow: 0.4em 0.4em 0.5em rgba(0,0,0,.3)}

/*icon blocks*/
.iconblock{overflow:hidden}
.icnblk_img{text-decoration:none;float:left;margin-right:1em;cursor:pointer}
.icnblk_img_right { float: right; margin-right: 0; margin-left: 1em;}
.icnblk_cntnt{display:table-cell;vertical-align:top;*zoom:1}
.icnblk_cntnt h1,.icnblk_cntnt h2,.icnblk_cntnt h3,.icnblk_cntnt h4{margin:0 0 .6923em}