.portlet { border-top: .4em solid #97b0c8; padding-top: .461em; margin: .769em 0 2.154em 0; overflow: visible; line-height: 1.231em; zoom:1; }
.portlet h1, .portlet h2, .portlet h3, .portlet h4, .portlet h5, .portlet h6 {color: #985735; font-weight: bold; display: inline;  }
.portlet .whatsthis {color: #14376c; white-space: nowrap; margin-left: .3em;}
.portlet ul { margin: 0; padding: 0; }
.portlet ul li { list-style-type: none; margin-top: .461em; border-bottom: 1px dotted #CCC; padding-bottom: 1px; position: relative; overflow: visible; zoom:1; /*_height:1.6em;_overflow:hidden;*/ }
.portlet .portlet_list li { border-bottom: 0; }
.portlet ul li a { font-weight: normal; color: #14376c; text-decoration: none; }
.portlet ul li a:hover,.portlet ul li a:active{border-bottom:0}
.portlet ul a { _display: block; _float: left; _clear: left; }
.portlet .seemore { display: block; text-align: right; color: #14376c; font-size: .923em; text-decoration: none; margin-top: .8em; }
.portlet .portlet_section_header { text-decoration: none; font-weight: bold; color: #000; border-bottom:0 } /* Will style both links and spans */

.portlet li.two_line { height: 2.461em; height\0: 2.361em; overflow: hidden; }
.portlet .two_line a { max-height: 2.453em; overflow: hidden; display: block; }
.portlet .long_info, .portlet p, .portlet .two_line .source, .portlet .one_line_source, .portlet_content .image .desc { color: #777;}
.portlet .two_line .source, .portlet .one_line_source { white-space: nowrap; position: absolute; right: 0; background-color: white; padding-left: .3em; }
.portlet .two_line .source { top: 1.231em; }
.portlet .two_line .tertiary { font-size: .769em; color: #777; position: absolute; right:0; background-color: white; padding: .1em 0 0 .3em; top: 1.6em; top\0: 1.5em; }

.portlet .portlet_content p { margin: .8em 0; }
.portlet .buttonwrap { float: left; position: relative; top: -.1em; overflow: visible; }
.portlet .invert { color: #fff; background-color: #14376c; padding: 0 .2em; }
.portlet .tertiary { color: #777; text-align: right; line-height: 1.4em; position: relative; top: .1em; }

.portlet_content { position: relative; margin: 0; }
.portlet_content textarea { margin: 0 0 .9em; }
.portlet_content img { margin: .3em 1.4em .7em 0;}
.portlet_content .image { display: block; overflow: auto; overflow:hidden\0; }
.portlet_content .image .img_link { float: left; }

.portlet_shutter { background: url(portal:/img/shutter_icon_gif) no-repeat scroll left top;  display: block; float: right; width: 15px; height: 15px; position: absolute; top: -.2em; margin-left: .6em; right: 0; }
.shutter_closed { background-position: left bottom; }
.portlet .related li { border-bottom: 0; }
.portlet .right { text-align: right; }

.ra_qry, .ra_rcd { padding-left: 2em; }
.ra_qry { background: transparent url(portal:/img/qry_gif) no-repeat scroll 0 1px; }
.ra_rcd { background: transparent url(portal:/img/rcd_gif) no-repeat scroll 0 1px; }

.sensor{border:1px solid #C8DDEB;background-color:#F7F9FB;padding:0 1em 1em;margin:1em 0}
.sensor .sensor_head { margin-bottom: 0; position: relative}
.sensor .sensor_head h3 { font-weight: normal; }
.sensor h3,.sensor h4,.sensor h5,.sensor h6{margin:.6923em 0 0}
.sensor .sensor_content{margin-bottom:1.1em}
.sensor p{margin:0}
.sensor .portlet_shutter { display: none; }
.no_p_margins{margin:0}

/*shared*/
.portlet_head{margin-bottom:.461em;position: relative}
.portlet_title,.sensor_title{margin-right: 2em}
.portlet_title h3 { line-height: inherit; }