/* homepage portlets */
.firsttier_portlet h1, .firsttier_portlet h2, .firsttier_portlet h3, .firsttier_portlet h4, .firsttier_portlet h5, .firsttier_portlet h6 { color: #985735; background-color: #fafafa; border-top: .2em solid #f7f7f7; border-bottom: .2em solid #f7f7f7; padding-top: .3em; padding-bottom: .3em; margin:0; }
.firsttier_portlet .portlet_head { margin: 0; }
.firsttier_portlet .portlet_content ul { margin: 0; padding: 0; }
.firsttier_portlet .portlet_content ul li { padding-top: .4em; border-bottom: 1px dotted #ccc; padding-bottom: .3em; list-style-type: none; }
.firsttier_portlet .portlet_content ul li a { color: #14376c; }