.grid{ min-width:800px; max-width:1200px; width:100%; font-size: 1.2em; } /* all get line-height of 21px */

.col { margin-right: 1%; float: left; background-color: #eee; overflow:hidden; }
.last { *zoom:1; margin-right:-6px; }
.one_col { width: 7.3333%; }
.two_col { width: 15.6664%; }
.three_col { width: 23.9999%; }
.four_col { width: 32.3333%; }
.five_col { width: 40.6666%; }
.six_col { width: 48.9999% }
.seven_col { width: 57.3333%; }
.eight_col { width: 65.6666%; }
.nine_col { width: 73.9999%; }
.ten_col { width: 82.3333%; }
.eleven_col { width: 90.6666%; }
.twelve_col { width: 98.9999%; }