/*  optional standard helpers (pmc,books,pmhealth use) */
.uppercase{text-transform: uppercase;letter-spacing:.06em;}
.caps{text-transform:capitalize;}
.small-caps{font-variant:small-caps;letter-spacing:.02em;}
.overline{text-decoration:overline;}
.roman{font-style:normal}
.greek{font-family:Georgia, Times,"Times New Roman", serif}


/*list-style-types*/
.lower-alpha{list-style-type:lower-alpha}
.upper-alpha{list-style-type:upper-alpha}
.lower-roman{list-style-type:lower-roman}
.upper-roman{list-style-type:upper-roman}
.circle{list-style-type:circle}
.square{list-style-type:square}
.simple-list{list-style-type:none}
.first-line-outdent{list-style-type:none}
.first-line-outdent li:first-letter{margin-left:-1.5em}

/*left-leaning blocks*/
.labeled-list{}
.labeled-list dt{float:left;margin-right:.8em}
.labeled-list dd{vertical-align:top;display:table-cell;*display:inline-block}

/*pages*/
.no_max_width{max-width:none}

/*labels in headings*/
.label{margin-right:1em;}

/*figures*/
.figure{margin: 1.3846em 0}
.eight_col img.fullwidth { width: 100% !important; }

/*metadata*/
.subtitle{font-weight:bold;margin-top:-.5em}

/*definition-style links*/
.def{cursor:help}

/*warning indicator*/
.box.warn {border:1px solid #000;margin:42px 0 45px 0;padding:0 0 35px 0;}
.box.warn h3 {background-color:#f7d118;border-bottom:1px solid #000;height:21px;margin: 0 0 35px;padding-top:2px;text-align:center;}
.box.warn p {padding: 0 35px 0 35px;}	
.box.warn * {color: #000;}
