div.rprt { font-family: arial, helvetica, sans-serif; margin: 0.5em 0 1.5em 0; padding: 0; *margin-bottom: 0.9em; zoom: 1; }

.rprtnum { display: inline; float: left; }
.rprtnum input { float: none; display: block; margin-left: 0; }
.rprtnum span { clear: both; font-size: .833em; margin-right: 5px; margin-left: 1px; *margin-left: 4px; }
div.rprt p.title { font-size: 1.2em; margin:0; }
div.rprt p.title a { color: #2222cc; }
div.rprt p.title a:visited { color: #cc3300; }

div.rprt p.rprtbody { margin: .1425em 0; font-size: 1.1667em; }

div.rslt { margin-left: 28px; }

div.rprt p.aux { font-size: 1em; margin-top: 0em; margin-bottom: 0em; line-height: 1.334em; }
div.rprt span.rprtid, div.rprt span.rprtlinks { display: block; }
div.rprt span.rprtid { color: #696969; }

div.rprt span.rprtlinks a { text-decoration: underline; cursor: pointer; margin-right: 15px; color:#6666AA; }

div.rprt p.rprtdblinks { font-size: 1em; margin-top: 0em; margin-bottom: 0em; line-height: 1.334em; }
div.rprt p.rprtdblinks a { text-decoration: none; cursor: pointer; font-size: 1em; white-space: nowrap; color:#6666AA;}
div.rprt p.rprtdblinks a:hover { text-decoration: underline; }

div.rprt span.rprtlinks .in_clip { margin-right: .5em; color: #009900; }
div.rprt span.rprtlinks .rem_clip { margin-right: .5em; color: #009900; text-decoration: none; border-bottom: 1px dotted #009900;}

/* stupid IE6 fixes */
div.rprt p.title a { _position: relative; _left: -.15em;  }