/* typography */
body{ font: 62.5%/1.3846 arial, helvetica, clean, sans-serif}
.grid{font-size: 1.3em}

/* re-reset styles when applicable*/
h1,h2,h3,h4,h5,strong,th{font-weight:bold;}
em{font-style:italic;}
abbr,acronym{cursor:help;border-bottom:1px dotted #000;}
p,table,pre,fieldset,dl{margin: .6923em 0;}
ul,ol{margin:.6923em 1em;}
blockquote{margin:1.3846em 1em;}
pre,code,kbd,samp,tt {font-family:monospace;font-size:1.2296em;*font-size:1em;} /* need research to figure out both FF and IE, especially the large-sized IE8 font-sizes */
ol,ul{margin-left:2.75em;*margin-left:3em}
ol{list-style:decimal outside}
ul{list-style:disc outside}
ul ul{list-style:circle outside}
ul ul ul{list-style:square outside}
dl dd{margin-left:1em;}
th,td{padding:.2em;border:1px solid #ddd}
th{text-align:center;background-color:#f0f0f0;}
thead{border-bottom:1px solid #eee}
tfoot{border-top:1px solid #eee}
table{border-collapse:collapse;margin:1.3846em 0}
caption{margin-bottom:.5em;text-align:center}

/*todo: inputs */
button{cursor:pointer}

/* header typography */
/* all should be used in the context of 13px font-size, try to add to multiple of 18px for consistent vertical rhythm */
h1{font-size: 1.3846em; line-height:1.5; margin:1em 0 .5em; } /* font-size of 18px, line-height of 27px */
h2{font-size: 1.2307em; line-height:1.125; margin:1.125em 0 .5625em;} /* font-size of 16px, line-height of 18px */
h3{font-size: 1.0769em; line-height:1.2857; margin:1.2856em 0 .6428em; } /* font-size of 14px, line-height of 18px */
h4,h5,h6,h3.inline{font-size: 1em; margin:1.3846em 0 .6923em; } /* line-height of 18px */
h5{font-style:italic;font-weight:normal;}

/*h6{color:#985735;}
h5{color:#724128;}*/
h4{color:#59331f;}
h3{color:#724128;}
h2{color:#985735;}
h1{color:#000;}




h1::after,h2::after,h3::after,h4::after,h5::after,h6::after{/*content:""; display:block;font-size:3px;*/}
h1::after,h2::after,h3::after,h4::after,h5::after,h6::after{/*margin:-1em;*/}
h3.inline::after,h4.inline::after,h5.inline::after,h6.inline::after{/*content:none;*/}

/*InlineHeaders*/
h3.inline,h4.inline,h5.inline,h6.inline{display:inline;float:left;margin:0;padding-right:.3em;}


/* typography helpers */
/* use in context of 13px font-size */
.whole_rhythm {margin: 1.3846em 0} /* 18px margin */
.half_rhythm {margin: .6923em 0} /* 9px margin */
.no_top_margin{margin-top:0}
.no_bottom_margin{margin-bottom:0}
.no_margin{margin:0}

/* proposed link colors */
.content a{color:#2f4a8b}
.content a:hover,.content a:active{color:#985735}
.content a:visited{color:#642a8f}


/* need callout-y pullquote-y rules and rules for images and captions, etc as well */


/*general*/
img{border:0}
.inline_list,.inline_list_right{list-style-type:none;margin:0;padding:0}
.inline_list li{display:inline;margin-right:.3em}     /* needs to be a standard distance here and the next. */
.inline_list_right li{display:inline;margin-left:.4em;}
.column_list{list-style-type:none;margin:0;padding:0}
.column_list li{float:left;width:8em}
.offscreen{text-indent:-9999px}
.offscreen_noflow{float:left;text-indent:-9999em;_display:block;margin:0;padding:0;/*safari bugfix:*/height:0;}
.left{float:left}
.right{float:right}
.align_right{text-align:right}
.hidden{display:none}
.nowrap{white-space:nowrap}
.noborder{border:0}
.inline_block{display:-moz-inline-box;display:inline-block;*display:inline;zoom:1;}
.clearfix{display:block;zoom:1}
.clearfix::after{clear:both;content:'.';display:block;font-size:0px;height:0px;line-height:0;visibility:hidden}

.small,sup,sub{font-size:.8461em;} /*11px font-size */
.small sup,.small sub{font-size:1em}
.small{line-height:1.6363em}
sup{vertical-align:super;}
sub{vertical-align:sub;}

.shadow {-webkit-box-shadow: 0.4em 0.4em 0.5em rgba(0,0,0,.4);-moz-box-shadow: 0.4em 0.4em 0.5em rgba(0,0,0,.4);box-shadow: 0.4em 0.4em 0.5em rgba(0,0,0,.4)}
