/* typography */
body{ font: 62.5%/1.3846 arial, helvetica, clean, sans-serif; }

/* re-reset styles */
h1,h2,h3,h4,h5,h6,strong,th{font-weight:bold;}
em{font-style:italic;}
abbr,acronym{cursor:help;border-bottom:1px dotted #000;}
p,table,pre,fieldset,dl{margin-bottom: .75em;}
ul,ol,blockquote{margin:.75em 1em;}
pre,code,kbd,samp,tt {font-family:monospace;font-size:1.2286em;*font-size:1em;} /* need research to figure out both FF and IE, especially the large-sized IE8 font-sizes */
ol,ul{margin-left:2em;}
ol li{list-style:decimal outside;}
ul li{list-style:disc outside;}
dl dd{margin-left:1em;}
/*borrowed from yui*/
th,td{border:1px solid #000;padding:.5em;}
th{text-align:center}
table{border-collapse:collapse}
caption{margin-bottom:.5em;text-align:center}
/*todo: inputs */


/* header typography */
/* all should be used in the context of 1.2em font-size, try to add to multiple of 21px for consistent vertical rhythm */
/* may be changed to have asymmertical margins on top & bottom */
h1{font-size: 1.3846em; line-height:1.5; margin:.5em 0;} /* font-size of 18px, line-height of 35px */
h2{font-size: 1.2307em; line-height:1.125; margin:.5625em 0;} /* font-size of 16px, line-height of 18px */
h3{font-size: 1.0769em; line-height:1.2857; margin:.6428em 0; } /* font-size of 14px, line-height of 18px */
h4,h5,h6{font-size: 1em;} /* line-height of 18px */


/* typography helpers */
/* use in context of 1.2em font-size */
.whole_rhythm { margin-bottom: 1.5em; } /* 18px margin */
.half_rhythm { margin-bottom: .75em; } /* 9px margin */

/* need callout-y pullquote-y rules and rules for images and captions, etc as well */


/*general*/
img{border:0}
.inline_list{list-style-type:none;margin:0;padding:0}
.inline_list li{display:inline;margin-right:.2em}
.column_list{list-style-type:none;margin:0;padding:0}
.column_list li{float:left;width:8em}
.offscreen{text-indent:-9999px}
.offscreen_noflow{float:left;text-indent:-9999em;margin:0;padding:0;/*safari bugfix:*/height:0;}
.left{float:left}
.right{float:right}
.align_right{text-align:right}
.hidden{display:none}
.nowrap{white-space:nowrap}
.noborder{border:0}

.small-caps{font-variant:small-caps;}
.overline{text-decoration:overline;}
sup,sub{font-size:.8461em;}
sup{vertical-align:super;}
sub{vertical-align:sub;}

/* old, to be reconciled
h1{font-size: 1.5em; line-height: 1.1em;}
h2{font-size: 1.8em;}
h3, .header .inline_list li a{font-size: 1.4em;}
h4, .container, .supplemental{font-size: 1.2em;}
h5{font-size: 1.1em;}
h6{font-size: 0.9em;}
h4.content_header{font-size: 1em;}

h1.title, h4.content_header {font-weight: normal; }
*/



/*msg*/
.app_msg{background-color: #fff;  padding-bottom: 1em; margin-bottom: 1em;}
.app_msg p{margin: .1em 0;}
.app_msg_controls{text-align:right;}
.app_msg_controls a{font-size: 0.9em;}


