.rprt {
	overflow: hidden;
	_overflow: none;
	margin: 0.5em 0 1.5em 0;
	padding: 0; 
	*margin-bottom: 0.9em;
	zoom: 1;
	display: block;
	clear: both;
	min-height: 40px;
	height: auto !important;
	height: 40px; }

.rprt .rprtnum {
	display: inline;
	float: left;
	overflow: visible; }

.rprt .rprtnum input {
	display: block;
	float: none;
	margin-left: 0; }

.rprt .rprtnum span {
	display: block;
	clear: both;
	margin-right: 5px;
	margin-left: 1px; 
	*margin-left: 4px; }

.rprt .rslt { margin-left: 28px; *height: 1%; *margin-left: 0; }

.rprt .rsltimg { float: left; }

.rprt .rsltimg_right { float: right; margin-right: 0; margin-left: 1em;}

.rprt .rsltimg img {
	width: 100px;
	border: #666 solid 1px;
	padding: 1px; }

.rprt .rsltimg + .rsltcont { padding-left: 120px; }

.rprt .rsltimg_right + .rsltcont { padding-left: 0; }

.rprt .title {
	font-size: 1.108em;
	margin: 0; }

.rprt .title a { color: #2222cc; }

.rprt .title a:visited { color: #642a8f; }

.rprt .supp { margin: .1425em 0; }

.rprt .supp p, .rprt .supp dl, .rprt .supp dt, .rprt .supp dd { margin: 0; }

.rprt .supp .desc {
	font-size: 1.077em;
	display: block; }

.rprt .supp .details {
	font-size: 0.923em;
	display: block; }

.rprt dl{margin:0}

.rprt dl dt, .rprt dl dd {
	display: inline;
	padding: 0;
	margin: 0; }

.rprt dl dt { margin-left: .5em !important; }

.rprt dl dt:first-child { margin-left: 0 !important; }
.rprt dl.details { _margin-left: -.5em !important; }

/* Resets above line in IE, which can't handle pseudoclasses */
.rprt dl dd, .rprt dl dt { white-space: nowrap; }

/*left-leaning and butterfly styles*/
.rprt dl.lefty{display:block}
.rprt dl.lefty dt{width:10em;display:table-cell}
.rprt dl.lefty dd{display:table-cell}
.rprt dl.butterfly{display: block;margin:0;clear:both}
.rprt dl.butterfly dt{width: 10em; float: left; clear: left; text-align: right; margin-right: 10px;  }
.rprt dl.butterfly dd{margin: 0 0 0 10em; clear: right; }
	
.rprt .aux { font-size: 0.923em; }

.rprt .aux .status_icon, .rprt .aux .links a { white-space: nowrap; }

.rprt .aux, .rprt .aux p, .rprt .aux dl {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.4em; /* need to edit line height when we pair the docsum styles with the new standard_base_css, 2.x branch styles */ }

.rprt .aux .resc { color: #575757; }

.rprt .aux .status_icon {
	color: #985735;
	font-weight: bold; }

.rprt .aux .src {
	margin-right: 15px;
	display: inline; }

.rprt .aux .rprtid {
	color: #575757;
	display: inline;
	margin-right: 15px; }

.rprt .aux .links a {
	text-decoration: underline;
	cursor: pointer;
	margin-right: 15px;
	color: #6666AA;
	white-space: nowrap; }

.rprt .aux .links .in_clip {
	margin-right: .5em;
	color: #D2692B;
	white-space: nowrap; }

.rprt .aux .links .rem_clip {
	margin-right: .5em;
	color: #D2692B;
	text-decoration: none;
	border-bottom: 1px dotted #D2692B;
	white-space: nowrap; }

.rprt .dblinks {
	margin-top: 0em;
	margin-bottom: 0em;
	line-height: 1.334em; }

.rprt .dblinks a {
	text-decoration: none;
	cursor: pointer;
	white-space: nowrap;
	color: #6666AA; }

.rprt .dblinks a:hover { text-decoration: underline; }

.rprt p.title a {
	_position: relative;
	_left: -.15em; }

.rprt-button { float: right }

.rprt-button span { margin: 0.231em 0.462em 0.462em -0.462em }

.rprt-supplinks { padding: 0.461em 0 }

.rprt-supplinks h5 { margin: 0.231em 0 }

.rprt-supplinks p { margin-top: 0 }

.rprt-supplinks .rprt-seeall {
    text-align: right;
    font-size: 0.846em;
    margin: 0; }

.rprt-separator {
    border-style: none;
    font-size: 0;
    height: 1px;
    margin: -1px 0;
    opacity: 0;
    position: relative; }