<div id="universal_header" class="universal_header">
  <ul id="navcontent"
      class="inline_list jig-ncbimenu ui-ncbimenu resources_list ui-ncbibasicmenu orientation_hort"
      role="menubar">
      <li class="ui-ncbimenu-item-leaf ui-ncbimenu-item-first ui-helper-reset ui-ncbimenu-item-no-hlt"
          role="presentation"><a accesskey="1" id="ncbihome" title="NCBI Home" role="menuitem" href="/"
                                 class="ui-ncbimenu-link-first"><span class="offscreen_noflow">NCBI</span><img
              alt="NCBI Logo" title="NCBI" class="ncbi_logo"
              src="//static.pubmed.gov/portal/portal3rc.fcgi/3986154/img/28977"></a></li>
      <li class="offscreen_noflow ui-ncbimenu-item-skip access"><a accesskey="3" tabindex="0"
                                                                   title="Skip to the content"
                                                                   href="#maincontent">Skip to main
          content</a></li>
      <li class="offscreen_noflow ui-ncbimenu-item-skip access"><a accesskey="4" tabindex="0"
                                                                   title="Skip to the navigation"
                                                                   href="#navcontent">Skip to
          navigation</a></li>
      <li class="topmenu ui-helper-reset ui-ncbimenu-item-first ui-helper-reset" id="resource-menu"
          role="presentation"><a href="/static/header_footer_ajax/submenu/#resources"
                                 class="ui-ncbimenu-first-link-has-submenu ui-ncbimenu-link-first topanchor expandDown"
                                 aria-haspopup="true" tabindex="-1" role="menuitem">Resources</a>
          <ul id="resources-submenu" aria-hidden="true" class="ui-ncbibasicmenu" role="menu"
              style="display: none;">
              <li role="presentation"><a href="/guide/all/" aria-haspopup="true" tabindex="-1"
                                         role="menuitem">All Resources</a></li>
              <li role="presentation"><a href="#chemicals-bioassays" aria-haspopup="true" tabindex="-1"
                                         role="menuitem" class="expandRight">Chemicals &amp; Bioassays</a>
                  <ul class="actual-resources-submenu chemicals-bioassays ui-ncbibasicmenu"
                      aria-hidden="true" role="menu" style="display: none;">
                      <li role="presentation"><a
                              title=" Database that groups biomedical literature, small molecules, and sequence data in terms of biological relationships. "
                              href="/biosystems/" aria-haspopup="true" tabindex="-1" role="menuitem">BioSystems</a>
                      </li>
                      <li role="presentation"><a
                              title=" Contributed bioactivity data for PubChem Substances "
                              href="/pcassay" aria-haspopup="true" tabindex="-1" role="menuitem">PubChem
                          BioAssay</a></li>
                      <li role="presentation"><a title=" Unique, standardized chemical structures "
                                                 href="/pccompound" aria-haspopup="true" tabindex="-1"
                                                 role="menuitem">PubChem Compound</a></li>
                      <li role="presentation"><a title=" Searches PubChem Compound by chemical structure "
                                                 href="http://pubchem.ncbi.nlm.nih.gov/search/search.cgi"
                                                 aria-haspopup="true" tabindex="-1" role="menuitem">PubChem
                          Structure Search</a></li>
                      <li role="presentation"><a
                              title=" Provides information on the biological activities of small molecules. "
                              href="/pcsubstance" aria-haspopup="true" tabindex="-1" role="menuitem">PubChem
                          Substance</a></li>
                      <li role="presentation"><a href="/guide/chemicals-bioassays/" aria-haspopup="true"
                                                 tabindex="-1" role="menuitem">All Chemicals &amp;
                          Bioassays Resources...</a></li>
                  </ul>
              </li>
              <li role="presentation"><a href="#dna-rna" aria-haspopup="true" tabindex="-1"
                                         role="menuitem" class="expandRight">DNA &amp; RNA</a>
                  <ul class="actual-resources-submenu dna-rna ui-ncbibasicmenu" aria-hidden="true"
                      role="menu" style="display: none;">
                      <li role="presentation"><a
                              title=" Tool for finding local regions of sequence similarity "
                              href="http://blast.ncbi.nlm.nih.gov/Blast.cgi" aria-haspopup="true"
                              tabindex="-1" role="menuitem">BLAST (Basic Local Alignment Search Tool)</a>
                      </li>
                      <li role="presentation"><a title=" BLAST programs for a local computer "
                                                 href="http://blast.ncbi.nlm.nih.gov/Blast.cgi?CMD=Web&amp;PAGE_TYPE=BlastDocs&amp;DOC_TYPE=Download"
                                                 aria-haspopup="true" tabindex="-1" role="menuitem">BLAST
                          (Stand-alone)</a></li>
                      <li role="presentation"><a
                              title=" URL application programming interface for searching, linking and downloading data within NCBI's Entrez system "
                              href="/books/NBK25501/ " aria-haspopup="true" tabindex="-1" role="menuitem">E-Utilities</a>
                      </li>
                      <li role="presentation"><a title=" DNA and RNA sequences submitted to NCBI "
                                                 href="/genbank/" aria-haspopup="true" tabindex="-1"
                                                 role="menuitem">GenBank</a></li>
                      <li role="presentation"><a
                              title=" Web tool for simple submissions of nucleotide sequences "
                              href="/WebSub/?tool=genbank" aria-haspopup="true" tabindex="-1"
                              role="menuitem">GenBank: BankIt</a></li>
                      <li role="presentation"><a
                              title=" Software tool for complex submissions of nucleotide sequences "
                              href="/projects/Sequin/" aria-haspopup="true" tabindex="-1" role="menuitem">GenBank:
                          Sequin</a></li>
                      <li role="presentation"><a
                              title=" Command-line program for submitting sequence data "
                              href="/genbank/tbl2asn2/" aria-haspopup="true" tabindex="-1"
                              role="menuitem">GenBank: tbl2asn</a></li>
                      <li role="presentation"><a
                              title=" Stand-alone application for analyzing sequence data "
                              href="/tools/gbench/" aria-haspopup="true" tabindex="-1" role="menuitem">Genome
                          Workbench</a></li>
                      <li role="presentation"><a
                              title=" Data from the NIAID Influenza Genome Sequencing Project "
                              href="/genomes/FLU/" aria-haspopup="true" tabindex="-1" role="menuitem">Influenza
                          Virus</a></li>
                      <li role="presentation"><a title=" Nucleotide sequence data in GenBank and RefSeq "
                                                 href="/nuccore" aria-haspopup="true" tabindex="-1"
                                                 role="menuitem">Nucleotide Database</a></li>
                      <li role="presentation"><a
                              title=" Sets of nucleotide sequences representing a population "
                              href="/popset" aria-haspopup="true" tabindex="-1" role="menuitem">PopSet</a>
                      </li>
                      <li role="presentation"><a
                              title=" Designs PCR primers and analyzes them for target specificity using BLAST. "
                              href="/tools/primer-blast/" aria-haspopup="true" tabindex="-1"
                              role="menuitem">Primer-BLAST</a></li>
                      <li role="presentation"><a title=" Tool for aligning proteins to genomic DNA "
                                                 href="/sutils/static/prosplign/prosplign.html"
                                                 aria-haspopup="true" tabindex="-1" role="menuitem">ProSplign</a>
                      </li>
                      <li role="presentation"><a
                              title=" Curated nucleotide and protein sequences produced by NCBI "
                              href="/refseq/" aria-haspopup="true" tabindex="-1" role="menuitem">Reference
                          Sequence (RefSeq)</a></li>
                      <li role="presentation"><a
                              title=" RefSeqGene reference standards for genomic sequences of well-characterized genes "
                              href="/refseq/rsg/" aria-haspopup="true" tabindex="-1" role="menuitem">RefSeqGene</a>
                      </li>
                      <li role="presentation"><a
                              title=" Database of sequences reads from next generation sequencing technologies "
                              href="/Traces/sra/sra.cgi?" aria-haspopup="true" tabindex="-1"
                              role="menuitem">Sequence Read Archive (SRA)</a></li>
                      <li role="presentation"><a title=" Tool for aligning transcripts to genomic DNA "
                                                 href="/sutils/splign/" aria-haspopup="true" tabindex="-1"
                                                 role="menuitem">Splign</a></li>
                      <li role="presentation"><a
                              title=" DNA chromatograms, base calls, and quality estimates for single-pass reads. "
                              href="/Traces/trace.cgi" aria-haspopup="true" tabindex="-1" role="menuitem">Trace
                          Archive</a></li>
                      <li role="presentation"><a title=" Gene-centered clusters of transcripts and ESTs "
                                                 href="/unigene" aria-haspopup="true" tabindex="-1"
                                                 role="menuitem">UniGene</a></li>
                      <li role="presentation"><a href="/guide/dna-rna/" aria-haspopup="true" tabindex="-1"
                                                 role="menuitem">All DNA &amp; RNA Resources...</a></li>
                  </ul>
              </li>
              <li role="presentation"><a href="#data-software" aria-haspopup="true" tabindex="-1"
                                         role="menuitem" class="expandRight">Data &amp; Software</a>
                  <ul class="actual-resources-submenu data-software ui-ncbibasicmenu" aria-hidden="true"
                      role="menu" style="display: none;">
                      <li role="presentation"><a
                              title=" Tool for finding local regions of sequence similarity "
                              href="http://blast.ncbi.nlm.nih.gov/Blast.cgi" aria-haspopup="true"
                              tabindex="-1" role="menuitem">BLAST (Basic Local Alignment Search Tool)</a>
                      </li>
                      <li role="presentation"><a title=" BLAST programs for a local computer "
                                                 href="http://blast.ncbi.nlm.nih.gov/Blast.cgi?CMD=Web&amp;PAGE_TYPE=BlastDocs&amp;DOC_TYPE=Download"
                                                 aria-haspopup="true" tabindex="-1" role="menuitem">BLAST
                          (Stand-alone)</a></li>
                      <li role="presentation"><a
                              title=" Program for viewing 3D structures and alignments "
                              href="/Structure/CN3D/cn3d.shtml" aria-haspopup="true" tabindex="-1"
                              role="menuitem">Cn3D</a></li>
                      <li role="presentation"><a
                              title=" Locates conserved domains within a protein sequence "
                              href="/Structure/cdd/wrpsb.cgi" aria-haspopup="true" tabindex="-1"
                              role="menuitem">Conserved Domain Search Service (CD Search)</a></li>
                      <li role="presentation"><a
                              title=" URL application programming interface for searching, linking and downloading data within NCBI's Entrez system "
                              href="/books/NBK25501/ " aria-haspopup="true" tabindex="-1" role="menuitem">E-Utilities</a>
                      </li>
                      <li role="presentation"><a
                              title=" Web tool for simple submissions of nucleotide sequences "
                              href="/WebSub/?tool=genbank" aria-haspopup="true" tabindex="-1"
                              role="menuitem">GenBank: BankIt</a></li>
                      <li role="presentation"><a
                              title=" Software tool for complex submissions of nucleotide sequences "
                              href="/projects/Sequin/" aria-haspopup="true" tabindex="-1" role="menuitem">GenBank:
                          Sequin</a></li>
                      <li role="presentation"><a
                              title=" Command-line program for submitting sequence data "
                              href="/genbank/tbl2asn2/" aria-haspopup="true" tabindex="-1"
                              role="menuitem">GenBank: tbl2asn</a></li>
                      <li role="presentation"><a title=" Maps proteins from a COG/VOG back to its genome "
                                                 href="/sutils/protmap.cgi" aria-haspopup="true"
                                                 tabindex="-1" role="menuitem">Genome ProtMap</a></li>
                      <li role="presentation"><a
                              title=" Stand-alone application for analyzing sequence data "
                              href="/tools/gbench/" aria-haspopup="true" tabindex="-1" role="menuitem">Genome
                          Workbench</a></li>
                      <li role="presentation"><a
                              title=" Designs PCR primers and analyzes them for target specificity using BLAST. "
                              href="/tools/primer-blast/" aria-haspopup="true" tabindex="-1"
                              role="menuitem">Primer-BLAST</a></li>
                      <li role="presentation"><a title=" Tool for aligning proteins to genomic DNA "
                                                 href="/sutils/static/prosplign/prosplign.html"
                                                 aria-haspopup="true" tabindex="-1" role="menuitem">ProSplign</a>
                      </li>
                      <li role="presentation"><a title=" Searches PubChem Compound by chemical structure "
                                                 href="http://pubchem.ncbi.nlm.nih.gov/search/search.cgi"
                                                 aria-haspopup="true" tabindex="-1" role="menuitem">PubChem
                          Structure Search</a></li>
                      <li role="presentation"><a
                              title=" The SNP database tools page provides links to the general submission guidelines and to the submission handle request. "
                              href="http://www.ncbi.nlm.nih.gov/projects/SNP/" aria-haspopup="true"
                              tabindex="-1" role="menuitem">SNP Submission Tool</a></li>
                      <li role="presentation"><a title=" Tool for aligning transcripts to genomic DNA "
                                                 href="/sutils/splign/" aria-haspopup="true" tabindex="-1"
                                                 role="menuitem">Splign</a></li>
                      <li role="presentation"><a title=" Tool that generates 3D structural alignments "
                                                 href="/Structure/VAST/vast.html" aria-haspopup="true"
                                                 tabindex="-1" role="menuitem">Vector Alignment Search
                          Tool (VAST)</a></li>
                      <li role="presentation"><a href="/guide/data-software/" aria-haspopup="true"
                                                 tabindex="-1" role="menuitem">All Data &amp; Software
                          Resources...</a></li>
                  </ul>
              </li>
              <li role="presentation"><a href="#domains-structures" aria-haspopup="true" tabindex="-1"
                                         role="menuitem" class="expandRight">Domains &amp; Structures</a>
                  <ul class="actual-resources-submenu domains-structures ui-ncbibasicmenu"
                      aria-hidden="true" role="menu" style="display: none;">
                      <li role="presentation"><a
                              title=" Database that groups biomedical literature, small molecules, and sequence data in terms of biological relationships. "
                              href="/biosystems/" aria-haspopup="true" tabindex="-1" role="menuitem">BioSystems</a>
                      </li>
                      <li role="presentation"><a
                              title=" Program for viewing 3D structures and alignments "
                              href="/Structure/CN3D/cn3d.shtml" aria-haspopup="true" tabindex="-1"
                              role="menuitem">Cn3D</a></li>
                      <li role="presentation"><a
                              title=" Database of conserved protein domains represented by multiple sequence alignments "
                              href="/cdd" aria-haspopup="true" tabindex="-1" role="menuitem">Conserved
                          Domain Database (CDD)</a></li>
                      <li role="presentation"><a
                              title=" Locates conserved domains within a protein sequence "
                              href="/Structure/cdd/wrpsb.cgi" aria-haspopup="true" tabindex="-1"
                              role="menuitem">Conserved Domain Search Service (CD Search)</a></li>
                      <li role="presentation"><a
                              title=" Database of 3D macromolecular structures derived from PDB "
                              href="/structure/" aria-haspopup="true" tabindex="-1" role="menuitem">Structure
                          (Molecular Modeling Database)</a></li>
                      <li role="presentation"><a title=" Tool that generates 3D structural alignments "
                                                 href="/Structure/VAST/vast.html" aria-haspopup="true"
                                                 tabindex="-1" role="menuitem">Vector Alignment Search
                          Tool (VAST)</a></li>
                      <li role="presentation"><a href="/guide/domains-structures/" aria-haspopup="true"
                                                 tabindex="-1" role="menuitem">All Domains &amp;
                          Structures Resources...</a></li>
                  </ul>
              </li>
              <li role="presentation"><a href="#genes-expression" aria-haspopup="true" tabindex="-1"
                                         role="menuitem" class="expandRight">Genes &amp; Expression</a>
                  <ul class="actual-resources-submenu genes-expression ui-ncbibasicmenu"
                      aria-hidden="true" role="menu" style="display: none;">
                      <li role="presentation"><a
                              title=" Database that groups biomedical literature, small molecules, and sequence data in terms of biological relationships. "
                              href="/biosystems/" aria-haspopup="true" tabindex="-1" role="menuitem">BioSystems</a>
                      </li>
                      <li role="presentation"><a title=" Genotype/Phenotype association studies "
                                                 href="/gap" aria-haspopup="true" tabindex="-1"
                                                 role="menuitem">Database of Genotypes and Phenotypes
                          (dbGaP)</a></li>
                      <li role="presentation"><a
                              title=" URL application programming interface for searching, linking and downloading data within NCBI's Entrez system "
                              href="/books/NBK25501/ " aria-haspopup="true" tabindex="-1" role="menuitem">E-Utilities</a>
                      </li>
                      <li role="presentation"><a
                              title=" Database of gene loci and associated transcripts and proteins "
                              href="/gene" aria-haspopup="true" tabindex="-1" role="menuitem">Gene</a>
                      </li>
                      <li role="presentation"><a title=" Gene Expression Omnibus (GEO) Database "
                                                 href="/geo/" aria-haspopup="true" tabindex="-1"
                                                 role="menuitem">Gene Expression Omnibus (GEO)
                          Database </a></li>
                      <li role="presentation"><a
                              title=" Curated collections of gene expression data sets " href="/gds"
                              aria-haspopup="true" tabindex="-1" role="menuitem">Gene Expression Omnibus
                          (GEO) Datasets</a></li>
                      <li role="presentation"><a
                              title=" Database of gene expression Profiles for individual sequences "
                              href="/geoprofiles/" aria-haspopup="true" tabindex="-1" role="menuitem">Gene
                          Expression Omnibus (GEO) Profiles</a></li>
                      <li role="presentation"><a
                              title=" Stand-alone application for analyzing sequence data "
                              href="/tools/gbench/" aria-haspopup="true" tabindex="-1" role="menuitem">Genome
                          Workbench</a></li>
                      <li role="presentation"><a title=" Sets of homologous eukaryotic genes "
                                                 href="/homologene" aria-haspopup="true" tabindex="-1"
                                                 role="menuitem">HomoloGene</a></li>
                      <li role="presentation"><a
                              title=" Tool for searching, viewing and downloading genomic maps and related data "
                              href="/mapview/" aria-haspopup="true" tabindex="-1" role="menuitem">Map
                          Viewer</a></li>
                      <li role="presentation"><a title=" Database of human genes and genetic disorders "
                                                 href="/omim" aria-haspopup="true" tabindex="-1"
                                                 role="menuitem">Online Mendelian Inheritance in Man
                          (OMIM)</a></li>
                      <li role="presentation"><a
                              title=" RefSeqGene reference standards for genomic sequences of well-characterized genes "
                              href="/refseq/rsg/" aria-haspopup="true" tabindex="-1" role="menuitem">RefSeqGene</a>
                      </li>
                      <li role="presentation"><a title=" Gene-centered clusters of transcripts and ESTs "
                                                 href="/unigene" aria-haspopup="true" tabindex="-1"
                                                 role="menuitem">UniGene</a></li>
                      <li role="presentation"><a href="/guide/genes-expression/" aria-haspopup="true"
                                                 tabindex="-1" role="menuitem">All Genes &amp; Expression
                          Resources...</a></li>
                  </ul>
              </li>
              <li role="presentation"><a href="#genetics-medicine" aria-haspopup="true" tabindex="-1"
                                         role="menuitem" class="expandRight">Genetics &amp; Medicine</a>
                  <ul class="actual-resources-submenu genetics-medicine ui-ncbibasicmenu"
                      aria-hidden="true" role="menu" style="display: none;">
                      <li role="presentation"><a title=" Online biomedical books " href="/books"
                                                 aria-haspopup="true" tabindex="-1" role="menuitem">Bookshelf</a>
                      </li>
                      <li role="presentation"><a title=" Genotype/Phenotype association studies "
                                                 href="/gap" aria-haspopup="true" tabindex="-1"
                                                 role="menuitem">Database of Genotypes and Phenotypes
                          (dbGaP)</a></li>
                      <li role="presentation"><a
                              title=" Detailed information about genetic tests and labs " href="/gtr/"
                              aria-haspopup="true" tabindex="-1" role="menuitem">Genetic Testing
                          Registry</a></li>
                      <li role="presentation"><a
                              title=" Data from the NIAID Influenza Genome Sequencing Project "
                              href="/genomes/FLU/" aria-haspopup="true" tabindex="-1" role="menuitem">Influenza
                          Virus</a></li>
                      <li role="presentation"><a
                              title=" Tool for searching, viewing and downloading genomic maps and related data "
                              href="/mapview/" aria-haspopup="true" tabindex="-1" role="menuitem">Map
                          Viewer</a></li>
                      <li role="presentation"><a title=" Database of human genes and genetic disorders "
                                                 href="/omim" aria-haspopup="true" tabindex="-1"
                                                 role="menuitem">Online Mendelian Inheritance in Man
                          (OMIM)</a></li>
                      <li role="presentation"><a title=" Biomedical literature abstracts " href="/pubmed"
                                                 aria-haspopup="true" tabindex="-1"
                                                 role="menuitem">PubMed</a></li>
                      <li role="presentation"><a title=" Free, full-text articles " href="/pmc/"
                                                 aria-haspopup="true" tabindex="-1" role="menuitem">PubMed
                          Central (PMC)</a></li>
                      <li role="presentation"><a
                              title=" Directory of PubMed queries about clinical topics "
                              href="/pubmed/clinical " aria-haspopup="true" tabindex="-1" role="menuitem">PubMed
                          Clinical Queries</a></li>
                      <li role="presentation"><a
                              title=" RefSeqGene reference standards for genomic sequences of well-characterized genes "
                              href="/refseq/rsg/" aria-haspopup="true" tabindex="-1" role="menuitem">RefSeqGene</a>
                      </li>
                      <li role="presentation"><a href="/guide/genetics-medicine/" aria-haspopup="true"
                                                 tabindex="-1" role="menuitem">All Genetics &amp; Medicine
                          Resources...</a></li>
                  </ul>
              </li>
              <li role="presentation"><a href="#genomes-maps" aria-haspopup="true" tabindex="-1"
                                         role="menuitem" class="expandRight">Genomes &amp; Maps</a>
                  <ul class="actual-resources-submenu genomes-maps ui-ncbibasicmenu" aria-hidden="true"
                      role="menu" style="display: none;">
                      <li role="presentation"><a title=" A database of genomic structural variation "
                                                 href="/dbvar" aria-haspopup="true" tabindex="-1"
                                                 role="menuitem">Database of Genomic Structural Variation
                          (dbVar)</a></li>
                      <li role="presentation"><a
                              title=" Command-line program for submitting sequence data "
                              href="/genbank/tbl2asn2/" aria-haspopup="true" tabindex="-1"
                              role="menuitem">GenBank: tbl2asn</a></li>
                      <li role="presentation"><a title=" Curated genomic DNA sequences "
                                                 href="/sites/genome" aria-haspopup="true" tabindex="-1"
                                                 role="menuitem">Genome</a></li>
                      <li role="presentation"><a
                              title=" Central status pages for genome sequencing projects "
                              href="/bioproject/" aria-haspopup="true" tabindex="-1" role="menuitem">Genome
                          Project</a></li>
                      <li role="presentation"><a title=" Maps proteins from a COG/VOG back to its genome "
                                                 href="/sutils/protmap.cgi" aria-haspopup="true"
                                                 tabindex="-1" role="menuitem">Genome ProtMap</a></li>
                      <li role="presentation"><a
                              title=" Stand-alone application for analyzing sequence data "
                              href="/tools/gbench/" aria-haspopup="true" tabindex="-1" role="menuitem">Genome
                          Workbench</a></li>
                      <li role="presentation"><a
                              title=" Data from the NIAID Influenza Genome Sequencing Project "
                              href="/genomes/FLU/" aria-haspopup="true" tabindex="-1" role="menuitem">Influenza
                          Virus</a></li>
                      <li role="presentation"><a
                              title=" Tool for searching, viewing and downloading genomic maps and related data "
                              href="/mapview/" aria-haspopup="true" tabindex="-1" role="menuitem">Map
                          Viewer</a></li>
                      <li role="presentation"><a title=" Nucleotide sequence data in GenBank and RefSeq "
                                                 href="/nuccore" aria-haspopup="true" tabindex="-1"
                                                 role="menuitem">Nucleotide Database</a></li>
                      <li role="presentation"><a
                              title=" Sets of nucleotide sequences representing a population "
                              href="/popset" aria-haspopup="true" tabindex="-1" role="menuitem">PopSet</a>
                      </li>
                      <li role="presentation"><a title=" Tool for aligning proteins to genomic DNA "
                                                 href="/sutils/static/prosplign/prosplign.html"
                                                 aria-haspopup="true" tabindex="-1" role="menuitem">ProSplign</a>
                      </li>
                      <li role="presentation"><a
                              title=" Database of sequences reads from next generation sequencing technologies "
                              href="/Traces/sra/sra.cgi?" aria-haspopup="true" tabindex="-1"
                              role="menuitem">Sequence Read Archive (SRA)</a></li>
                      <li role="presentation"><a title=" Tool for aligning transcripts to genomic DNA "
                                                 href="/sutils/splign/" aria-haspopup="true" tabindex="-1"
                                                 role="menuitem">Splign</a></li>
                      <li role="presentation"><a
                              title=" DNA chromatograms, base calls, and quality estimates for single-pass reads. "
                              href="/Traces/trace.cgi" aria-haspopup="true" tabindex="-1" role="menuitem">Trace
                          Archive</a></li>
                      <li role="presentation"><a href="/guide/genomes-maps/" aria-haspopup="true"
                                                 tabindex="-1" role="menuitem">All Genomes &amp; Maps
                          Resources...</a></li>
                  </ul>
              </li>
              <li role="presentation"><a href="#homology" aria-haspopup="true" tabindex="-1"
                                         role="menuitem" class="expandRight">Homology</a>
                  <ul class="actual-resources-submenu homology ui-ncbibasicmenu" aria-hidden="true"
                      role="menu" style="display: none;">
                      <li role="presentation"><a
                              title=" Tool for finding local regions of sequence similarity "
                              href="http://blast.ncbi.nlm.nih.gov/Blast.cgi" aria-haspopup="true"
                              tabindex="-1" role="menuitem">BLAST (Basic Local Alignment Search Tool)</a>
                      </li>
                      <li role="presentation"><a title=" BLAST programs for a local computer "
                                                 href="http://blast.ncbi.nlm.nih.gov/Blast.cgi?CMD=Web&amp;PAGE_TYPE=BlastDocs&amp;DOC_TYPE=Download"
                                                 aria-haspopup="true" tabindex="-1" role="menuitem">BLAST
                          (Stand-alone)</a></li>
                      <li role="presentation"><a
                              title=" Pre-computed reports showing proteins with similar sequences "
                              href="/sutils/blink.cgi?mode=query" aria-haspopup="true" tabindex="-1"
                              role="menuitem">BLAST Link (BLink)</a></li>
                      <li role="presentation"><a
                              title=" Database of conserved protein domains represented by multiple sequence alignments "
                              href="/cdd" aria-haspopup="true" tabindex="-1" role="menuitem">Conserved
                          Domain Database (CDD)</a></li>
                      <li role="presentation"><a
                              title=" Locates conserved domains within a protein sequence "
                              href="/Structure/cdd/wrpsb.cgi" aria-haspopup="true" tabindex="-1"
                              role="menuitem">Conserved Domain Search Service (CD Search)</a></li>
                      <li role="presentation"><a title=" Maps proteins from a COG/VOG back to its genome "
                                                 href="/sutils/protmap.cgi" aria-haspopup="true"
                                                 tabindex="-1" role="menuitem">Genome ProtMap</a></li>
                      <li role="presentation"><a title=" Sets of homologous eukaryotic genes "
                                                 href="/homologene" aria-haspopup="true" tabindex="-1"
                                                 role="menuitem">HomoloGene</a></li>
                      <li role="presentation"><a
                              title=" Clusters of related proteins from prokaryotes and organelles "
                              href="/proteinclusters" aria-haspopup="true" tabindex="-1" role="menuitem">Protein
                          Clusters</a></li>
                      <li role="presentation"><a href="/guide/homology/" aria-haspopup="true"
                                                 tabindex="-1" role="menuitem">All Homology
                          Resources...</a></li>
                  </ul>
              </li>
              <li role="presentation"><a href="#literature" aria-haspopup="true" tabindex="-1"
                                         role="menuitem" class="expandRight">Literature</a>
                  <ul class="actual-resources-submenu literature ui-ncbibasicmenu" aria-hidden="true"
                      role="menu" style="display: none;">
                      <li role="presentation"><a title=" Online biomedical books " href="/books"
                                                 aria-haspopup="true" tabindex="-1" role="menuitem">Bookshelf</a>
                      </li>
                      <li role="presentation"><a
                              title=" URL application programming interface for searching, linking and downloading data within NCBI's Entrez system "
                              href="/books/NBK25501/ " aria-haspopup="true" tabindex="-1" role="menuitem">E-Utilities</a>
                      </li>
                      <li role="presentation"><a title=" Information on journals cited by NCBI records "
                                                 href="/nlmcatalog/journals" aria-haspopup="true"
                                                 tabindex="-1" role="menuitem">Journals in NCBI
                          Databases</a></li>
                      <li role="presentation"><a title=" Controlled vocabulary for MEDLINE " href="/mesh"
                                                 aria-haspopup="true" tabindex="-1" role="menuitem">MeSH
                          Database</a></li>
                      <li role="presentation"><a title=" Introductory articles about NCBI resources "
                                                 href="/books/NBK143764/" aria-haspopup="true"
                                                 tabindex="-1" role="menuitem">NCBI Handbook</a></li>
                      <li role="presentation"><a title=" Online, searchable help documentation "
                                                 href="/books/NBK3831/" aria-haspopup="true" tabindex="-1"
                                                 role="menuitem">NCBI Help Manual</a></li>
                      <li role="presentation"><a title=" NCBI's monthly newsletter "
                                                 href="/books/NBK1969/" aria-haspopup="true" tabindex="-1"
                                                 role="menuitem">NCBI News</a></li>
                      <li role="presentation"><a title=" Biomedical literature abstracts " href="/pubmed"
                                                 aria-haspopup="true" tabindex="-1"
                                                 role="menuitem">PubMed</a></li>
                      <li role="presentation"><a title=" Free, full-text articles " href="/pmc/"
                                                 aria-haspopup="true" tabindex="-1" role="menuitem">PubMed
                          Central (PMC)</a></li>
                      <li role="presentation"><a
                              title=" Directory of PubMed queries about clinical topics "
                              href="/pubmed/clinical " aria-haspopup="true" tabindex="-1" role="menuitem">PubMed
                          Clinical Queries</a></li>
                      <li role="presentation"><a title=" Reviews of clinical effectiveness research "
                                                 href="/pubmedhealth/" aria-haspopup="true" tabindex="-1"
                                                 role="menuitem">PubMed Health</a></li>
                      <li role="presentation"><a href="/guide/literature/" aria-haspopup="true"
                                                 tabindex="-1" role="menuitem">All Literature
                          Resources...</a></li>
                  </ul>
              </li>
              <li role="presentation"><a href="#proteins" aria-haspopup="true" tabindex="-1"
                                         role="menuitem" class="expandRight">Proteins</a>
                  <ul class="actual-resources-submenu proteins ui-ncbibasicmenu" aria-hidden="true"
                      role="menu" style="display: none;">
                      <li role="presentation"><a
                              title=" Database that groups biomedical literature, small molecules, and sequence data in terms of biological relationships. "
                              href="/biosystems/" aria-haspopup="true" tabindex="-1" role="menuitem">BioSystems</a>
                      </li>
                      <li role="presentation"><a
                              title=" Tool for finding local regions of sequence similarity "
                              href="http://blast.ncbi.nlm.nih.gov/Blast.cgi" aria-haspopup="true"
                              tabindex="-1" role="menuitem">BLAST (Basic Local Alignment Search Tool)</a>
                      </li>
                      <li role="presentation"><a title=" BLAST programs for a local computer "
                                                 href="http://blast.ncbi.nlm.nih.gov/Blast.cgi?CMD=Web&amp;PAGE_TYPE=BlastDocs&amp;DOC_TYPE=Download"
                                                 aria-haspopup="true" tabindex="-1" role="menuitem">BLAST
                          (Stand-alone)</a></li>
                      <li role="presentation"><a
                              title=" Pre-computed reports showing proteins with similar sequences "
                              href="/sutils/blink.cgi?mode=query" aria-haspopup="true" tabindex="-1"
                              role="menuitem">BLAST Link (BLink)</a></li>
                      <li role="presentation"><a
                              title=" Database of conserved protein domains represented by multiple sequence alignments "
                              href="/cdd" aria-haspopup="true" tabindex="-1" role="menuitem">Conserved
                          Domain Database (CDD)</a></li>
                      <li role="presentation"><a
                              title=" Locates conserved domains within a protein sequence "
                              href="/Structure/cdd/wrpsb.cgi" aria-haspopup="true" tabindex="-1"
                              role="menuitem">Conserved Domain Search Service (CD Search)</a></li>
                      <li role="presentation"><a
                              title=" URL application programming interface for searching, linking and downloading data within NCBI's Entrez system "
                              href="/books/NBK25501/ " aria-haspopup="true" tabindex="-1" role="menuitem">E-Utilities</a>
                      </li>
                      <li role="presentation"><a title=" Tool for aligning proteins to genomic DNA "
                                                 href="/sutils/static/prosplign/prosplign.html"
                                                 aria-haspopup="true" tabindex="-1" role="menuitem">ProSplign</a>
                      </li>
                      <li role="presentation"><a
                              title=" Clusters of related proteins from prokaryotes and organelles "
                              href="/proteinclusters" aria-haspopup="true" tabindex="-1" role="menuitem">Protein
                          Clusters</a></li>
                      <li role="presentation"><a title=" Protein sequence data " href="/protein"
                                                 aria-haspopup="true" tabindex="-1" role="menuitem">Protein
                          Database</a></li>
                      <li role="presentation"><a
                              title=" Curated nucleotide and protein sequences produced by NCBI "
                              href="/refseq/" aria-haspopup="true" tabindex="-1" role="menuitem">Reference
                          Sequence (RefSeq)</a></li>
                      <li role="presentation"><a href="/guide/proteins/" aria-haspopup="true"
                                                 tabindex="-1" role="menuitem">All Proteins
                          Resources...</a></li>
                  </ul>
              </li>
              <li role="presentation"><a href="#sequence-analysis" aria-haspopup="true" tabindex="-1"
                                         role="menuitem" class="expandRight">Sequence Analysis</a>
                  <ul class="actual-resources-submenu sequence-analysis ui-ncbibasicmenu"
                      aria-hidden="true" role="menu" style="display: none;">
                      <li role="presentation"><a
                              title=" Tool for finding local regions of sequence similarity "
                              href="http://blast.ncbi.nlm.nih.gov/Blast.cgi" aria-haspopup="true"
                              tabindex="-1" role="menuitem">BLAST (Basic Local Alignment Search Tool)</a>
                      </li>
                      <li role="presentation"><a title=" BLAST programs for a local computer "
                                                 href="http://blast.ncbi.nlm.nih.gov/Blast.cgi?CMD=Web&amp;PAGE_TYPE=BlastDocs&amp;DOC_TYPE=Download"
                                                 aria-haspopup="true" tabindex="-1" role="menuitem">BLAST
                          (Stand-alone)</a></li>
                      <li role="presentation"><a
                              title=" Pre-computed reports showing proteins with similar sequences "
                              href="/sutils/blink.cgi?mode=query" aria-haspopup="true" tabindex="-1"
                              role="menuitem">BLAST Link (BLink)</a></li>
                      <li role="presentation"><a
                              title=" Locates conserved domains within a protein sequence "
                              href="/Structure/cdd/wrpsb.cgi" aria-haspopup="true" tabindex="-1"
                              role="menuitem">Conserved Domain Search Service (CD Search)</a></li>
                      <li role="presentation"><a title=" Maps proteins from a COG/VOG back to its genome "
                                                 href="/sutils/protmap.cgi" aria-haspopup="true"
                                                 tabindex="-1" role="menuitem">Genome ProtMap</a></li>
                      <li role="presentation"><a
                              title=" Stand-alone application for analyzing sequence data "
                              href="/tools/gbench/" aria-haspopup="true" tabindex="-1" role="menuitem">Genome
                          Workbench</a></li>
                      <li role="presentation"><a
                              title=" Data from the NIAID Influenza Genome Sequencing Project "
                              href="/genomes/FLU/" aria-haspopup="true" tabindex="-1" role="menuitem">Influenza
                          Virus</a></li>
                      <li role="presentation"><a
                              title=" Designs PCR primers and analyzes them for target specificity using BLAST. "
                              href="/tools/primer-blast/" aria-haspopup="true" tabindex="-1"
                              role="menuitem">Primer-BLAST</a></li>
                      <li role="presentation"><a title=" Tool for aligning proteins to genomic DNA "
                                                 href="/sutils/static/prosplign/prosplign.html"
                                                 aria-haspopup="true" tabindex="-1" role="menuitem">ProSplign</a>
                      </li>
                      <li role="presentation"><a title=" Tool for aligning transcripts to genomic DNA "
                                                 href="/sutils/splign/" aria-haspopup="true" tabindex="-1"
                                                 role="menuitem">Splign</a></li>
                      <li role="presentation"><a href="/guide/sequence-analysis/" aria-haspopup="true"
                                                 tabindex="-1" role="menuitem">All Sequence Analysis
                          Resources...</a></li>
                  </ul>
              </li>
              <li role="presentation"><a href="#taxonomy" aria-haspopup="true" tabindex="-1"
                                         role="menuitem" class="expandRight">Taxonomy</a>
                  <ul class="actual-resources-submenu taxonomy ui-ncbibasicmenu" aria-hidden="true"
                      role="menu" style="display: none;">
                      <li role="presentation"><a title=" The NCBI taxonomy tree in Entrez "
                                                 href="/taxonomy" aria-haspopup="true" tabindex="-1"
                                                 role="menuitem">Taxonomy</a></li>
                      <li role="presentation"><a
                              title=" Displays and links Entrez data to each taxonomic node "
                              href="/Taxonomy/Browser/wwwtax.cgi?mode=Root" aria-haspopup="true"
                              tabindex="-1" role="menuitem">Taxonomy Browser</a></li>
                      <li role="presentation"><a title=" Creates custom taxonomic trees "
                                                 href="/Taxonomy/CommonTree/wwwcmt.cgi"
                                                 aria-haspopup="true" tabindex="-1" role="menuitem">Taxonomy
                          Common Tree</a></li>
                      <li role="presentation"><a href="/guide/taxonomy/" aria-haspopup="true"
                                                 tabindex="-1" role="menuitem">All Taxonomy
                          Resources...</a></li>
                  </ul>
              </li>
              <li role="presentation"><a href="#training-tutorials" aria-haspopup="true" tabindex="-1"
                                         role="menuitem" class="expandRight">Training &amp; Tutorials</a>
                  <ul class="actual-resources-submenu training-tutorials ui-ncbibasicmenu"
                      aria-hidden="true" role="menu" style="display: none;">
                      <li role="presentation"><a
                              title=" Central page providing links to tutorials and training materials "
                              href="/education/" aria-haspopup="true" tabindex="-1" role="menuitem">NCBI
                          Education Page</a></li>
                      <li role="presentation"><a title=" Introductory articles about NCBI resources "
                                                 href="/books/NBK143764/" aria-haspopup="true"
                                                 tabindex="-1" role="menuitem">NCBI Handbook</a></li>
                      <li role="presentation"><a title=" Online, searchable help documentation "
                                                 href="/books/NBK3831/" aria-haspopup="true" tabindex="-1"
                                                 role="menuitem">NCBI Help Manual</a></li>
                      <li role="presentation"><a title=" NCBI's monthly newsletter "
                                                 href="/books/NBK1969/" aria-haspopup="true" tabindex="-1"
                                                 role="menuitem">NCBI News</a></li>
                      <li role="presentation"><a href="/guide/training-tutorials/" aria-haspopup="true"
                                                 tabindex="-1" role="menuitem">All Training &amp;
                          Tutorials Resources...</a></li>
                  </ul>
              </li>
              <li role="presentation"><a href="#variation" aria-haspopup="true" tabindex="-1"
                                         role="menuitem" class="expandRight">Variation</a>
                  <ul class="actual-resources-submenu variation ui-ncbibasicmenu" aria-hidden="true"
                      role="menu" style="display: none;">
                      <li role="presentation"><a title=" A database of genomic structural variation "
                                                 href="/dbvar" aria-haspopup="true" tabindex="-1"
                                                 role="menuitem">Database of Genomic Structural Variation
                          (dbVar)</a></li>
                      <li role="presentation"><a title=" Genotype/Phenotype association studies "
                                                 href="/gap" aria-haspopup="true" tabindex="-1"
                                                 role="menuitem">Database of Genotypes and Phenotypes
                          (dbGaP)</a></li>
                      <li role="presentation"><a title=" Database of nucleotide sequence polymorphisms "
                                                 href="/snp" aria-haspopup="true" tabindex="-1"
                                                 role="menuitem">Database of Single Nucleotide
                          Polymorphisms (dbSNP)</a></li>
                      <li role="presentation"><a
                              title=" The SNP database tools page provides links to the general submission guidelines and to the submission handle request. "
                              href="http://www.ncbi.nlm.nih.gov/projects/SNP/" aria-haspopup="true"
                              tabindex="-1" role="menuitem">SNP Submission Tool</a></li>
                      <li role="presentation"><a href="/guide/variation/" aria-haspopup="true"
                                                 tabindex="-1" role="menuitem">All Variation
                          Resources...</a></li>
                  </ul>
              </li>
          </ul>
      </li>
      <li class="topmenu ui-helper-reset ui-ncbimenu-item-first" id="all-howtos-menu" role="presentation">
          <a href="/static/header_footer_ajax/submenu/#howto"
             class="ui-ncbimenu-first-link-has-submenu ui-ncbimenu-link-first topanchor expandDown"
             aria-haspopup="true" tabindex="-1" role="menuitem">How To</a>
          <ul id="howto-submenu" aria-hidden="true" class="ui-ncbibasicmenu" role="menu" style="display: none;">
              <li role="presentation">
                <a href="/guide/all/#howtos" aria-haspopup="true" tabindex="-1" role="menuitem">All How To</a>
              </li>
              <li role="presentation">
                <a href="/guide/chemicals-bioassays/#howtos" aria-haspopup="true" tabindex="-1" role="menuitem">Chemicals &amp; Bioassays</a>
              </li>
              <li role="presentation"><a href="/guide/dna-rna/#howtos" aria-haspopup="true" tabindex="-1"
                                         role="menuitem">DNA &amp; RNA</a></li>
              <li role="presentation"><a href="/guide/data-software/#howtos" aria-haspopup="true"
                                         tabindex="-1" role="menuitem">Data &amp; Software</a></li>
              <li role="presentation"><a href="/guide/domains-structures/#howtos" aria-haspopup="true"
                                         tabindex="-1" role="menuitem">Domains &amp; Structures</a></li>
              <li role="presentation"><a href="/guide/genes-expression/#howtos" aria-haspopup="true"
                                         tabindex="-1" role="menuitem">Genes &amp; Expression</a></li>
              <li role="presentation"><a href="/guide/genetics-medicine/#howtos" aria-haspopup="true"
                                         tabindex="-1" role="menuitem">Genetics &amp; Medicine</a></li>
              <li role="presentation"><a href="/guide/genomes-maps/#howtos" aria-haspopup="true"
                                         tabindex="-1" role="menuitem">Genomes &amp; Maps</a></li>
              <li role="presentation"><a href="/guide/homology/#howtos" aria-haspopup="true" tabindex="-1"
                                         role="menuitem">Homology</a></li>
              <li role="presentation"><a href="/guide/literature/#howtos" aria-haspopup="true"
                                         tabindex="-1" role="menuitem">Literature</a></li>
              <li role="presentation"><a href="/guide/proteins/#howtos" aria-haspopup="true" tabindex="-1"
                                         role="menuitem">Proteins</a></li>
              <li role="presentation"><a href="/guide/sequence-analysis/#howtos" aria-haspopup="true"
                                         tabindex="-1" role="menuitem">Sequence Analysis</a></li>
              <li role="presentation"><a href="/guide/taxonomy/#howtos" aria-haspopup="true" tabindex="-1"
                                         role="menuitem">Taxonomy</a></li>
              <li role="presentation"><a href="/guide/training-tutorials/#howtos" aria-haspopup="true"
                                         tabindex="-1" role="menuitem">Training &amp; Tutorials</a></li>
              <li role="presentation"><a href="/guide/variation/#howtos" aria-haspopup="true"
                                         tabindex="-1" role="menuitem">Variation</a></li>
          </ul>
      </li>
      <li class="offscreen_noflow ui-ncbimenu-item-skip access">
        <a accesskey="0" tabindex="0" title="About My NCBI Accesskeys" href="/guide/browsers/#accesskeys">About NCBI Accesskeys</a>
      </li>
  </ul>
  <div class="myncbi">
      <span style="display:none" id="myncbiusername">
          <a title="Edit account settings" id="mnu" href="/account/settings/"> </a>
      </span>
      <a style="display:none" id="myncbi" href="/myncbi/" accesskey="2">My NCBI</a>
      <a id="sign_in" href="http://www.ncbi.nlm.nih.gov/account/?back_url=http%3A%2F%2Fwww.ncbi.nlm.nih.gov%2Fpubmed%2F">Sign in to NCBI</a>
      <a style="display:none" id="sign_out" href="http://www.ncbi.nlm.nih.gov/account/signout/?back_url=http%3A%2F%2Fwww.ncbi.nlm.nih.gov%2Fpubmed%2F">Sign Out</a>
  </div>
</div>
