@charset "UTF-8";

@font-face {
  font-family: "ncbifont";
  src:url("fonts/ncbifont.eot");
  src:url("fonts/ncbifont.eot?#iefix") format("embedded-opentype"),
    url("fonts/ncbifont.woff") format("woff"),
    url("fonts/ncbifont.ttf") format("truetype"),
    url("fonts/ncbifont.svg#ncbifont") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: "ncbifont";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Colors */

.icon-calendar-icon {float: right;
                     font-size: 1.25em;}
.social-icon, .action-button-icon, .icon-calendar-icon, .footer-icon {color: gray;}
span.icon-user-icon, span.icon-speech-bubble-icon {color: black;
                                                   position: relative;
                                                   left: 20px;
                                                   top: 20px;}

/* Fallback Text for Screen Readers */

.icon-fallback-text {position: absolute !important;
						clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
						clip: rect(1px, 1px, 1px, 1px); }

/* Sizing */

.icon-2x{font-size:2em;}
.icon-3x{font-size:3em;}
.icon-4x{font-size:4em;}
.icon-5x{font-size:5em;}
.icon-6x{font-size:6em;}
.icon-7x{font-size:7em;}
.icon-8x{font-size:8em;}
.icon-10x{font-size:10em;}


.icon-analyze:before {
  content: "a";
}
.icon-api:before {
  content: "b";
}
.icon-calendar:before {
  content: "c";
}
.icon-code:before {
  content: "d";
}
.icon-community:before {
  content: "e";
}
.icon-data-format:before {
  content: "f";
}
.icon-develop:before {
  content: "g";
}
.icon-documentation:before {
  content: "h";
}
.icon-download:before {
  content: "i";
}
.icon-email:before {
  content: "j";
}
.icon-exhibits:before {
  content: "k";
}
.icon-facebook:before {
  content: "l";
}
.icon-github:before {
  content: "m";
}
.icon-usagov-footer-logo:before {
  content: "n";
}
.icon-twitter:before {
  content: "o";
}
.icon-tutorials:before {
  content: "p";
}
.icon-submit:before {
  content: "q";
}
.icon-rss:before {
  content: "r";
}
.icon-research:before {
  content: "s";
}
.icon-nlm-footer-logo:before {
  content: "t";
}
.icon-nih-header-logo:before {
  content: "u";
}
.icon-nih-footer-logo:before {
  content: "v";
}
.icon-linkedin:before {
  content: "w";
}
.icon-learn:before {
  content: "x";
}
.icon-hhs-footer-logo:before {
  content: "y";
}
.icon-google-plus:before {
  content: "z";
}
.icon-webinar:before {
  content: "A";
}
.icon-youtube:before {
  content: "B";
}
.icon-blog:before {
  content: "C";
}
.icon-search:before {
  content: "D";
}