#page_footer{font-size:13px;
             padding: 0 1em;
             border-top: 2px solid #D5D5D5;
             clear:both}

#page_footer .foot_wrap {overflow: auto;}
#page_footer div.thick_border {border-top: 2px solid #D5D5D5;}
#page_footer div.two_col {padding: 0 .6em 1em;}
#page_footer a {text-decoration: none;}
#page_footer, #page_footer .col {background-color: #EAEAEA;}
#page_footer ul {padding-left: 0;
                 margin: .25em 0 1em 0;}
#page_footer .two_col li {padding-top: .25em;}
#page_footer h3 {margin-bottom: 0;}
#page_footer a, #page_footer h3.ncbi_blue {color: #336699;}

/* bottom section of footer */
#page_footer h3.ncbi_blue {margin-bottom: .25em;}
#page_footer .footer_border {border-top: 1px solid #D5D5D5;}
#page_footer .footer_padding {padding: 0 .5em 3em .5em;}

/* social media */
#page_footer .social {clear: both;
                      width: 50%;}
#page_footer .social h3 {margin-top: 0;}
#page_footer .social_media li {float: left;
                               width: 10%;
                               padding: .5em 0 1em;}
#page_footer .help_desk {padding: 2.5em 10em 0;}

/* ncbi info */
#page_footer .about_list {margin-top: 1em;
                          color: #555555;}
#page_footer address, #page_footer address a {color: #555555;
                                              font-style: normal;}
