#page_header{font-size:13px;clear:both}

#page_header a {text-decoration: none;}

/* accesskey navigation */
#page_header ul.skip_nav {margin: 0;
                          position: absolute;}

#page_header .skip_nav a {
position: absolute;
top: -100px;
overflow: hidden;
margin-left: 47em;
background-color: #CCCCCC;
}

#page_header .skip_nav a:focus {
position: absolute;
white-space: nowrap;
padding: .5em;
transition: top 0.1s ease-in 0s, background 0.5s linear 0s;
top: 0;
z-index: 100;
outline: 0;
background-color: #985735;
border-radius: 0 0 6px 6px;
box-shadow: 3px 3px 3px rgba(0,0,0,.3);
}

/* blue nav bar */
#page_header .nih a, #page_header .feedback a {color: white; background-color: #005295;}
#page_header .blue_nav_bar {background-color: #336699;}
#page_header .norm_height {height: 47px;}
#page_header .ncbi {padding: 1.15em 1em;}
#page_header .nih img {padding: .7em 1em;}
#page_header .ncbi_name {padding: 0 .5em 0 1em;
                         font-weight: bold;}
#page_header .vertical_divider {color: #EAEAEA;
                                padding: 0 .5em;}
#page_header .blue_nav_bar, #page_header .blue_nav_bar a, #page_header .skip_nav a {color: #FFFFFF;}
#page_header a.header_link {padding: 1.15em 1em;}


/* category bar */
#page_header .bg-gray {background-color: #EAEAEA;}
#page_header ul.category_bar {padding: .5em 0;}
#page_header ul.category_bar li a {padding: .4em 1em .5em .75em;
                                   font-weight: bold;}
#page_header .category_bar a:hover {color: rgba(0,0,0,.6);}
#page_header .header-div {padding-bottom: 1em;}


/* search bar */
#page_header select {padding: .35em;
                     width: 12.5%;
                     background-color: #EAEAEA;
                     border-radius: 0;
                     border: 2px solid #FFFFFF;
                     box-shadow: 1px 1px 2px #FFFFFF;}
#page_header input {padding: .5em;
                    margin: 0;}


/* 'Search NCBI' placeholder styles - cannot be combined into a single selector */
#page_header input:focus::-webkit-input-placeholder {transition: opacity 0.5s 0.5s ease; opacity: 0;}
#page_header input:focus:-moz-placeholder {transition: opacity 0.5s 0.5s ease; opacity: 0;}
#page_header input:focus::-moz-placeholder {transition: opacity 0.5s 0.5s ease; opacity: 0;}
#page_header input:focus:-ms-input-placeholder {transition: opacity 0.5s 0.5s ease; opacity: 0;}


#page_header button[name=Search] {background: #985735;
                                  color: #FFFFFF;
                                  border: none;
                                  padding: 0.5em 0.8em 0.5em 0.5em;
                                  margin: 0;}
#page_header .offscreen_noflow {height: 0;
                                margin: 0;
                                padding: 0;
                                text-indent: -9999em;}
#page_header .search_bar {margin: 0 .5em;}
#page_header .search-box {width: 70%;}


/* media query for screen sizes smaller than 1008px */
@media only screen and (max-width: 1007px) {
#page_header select {width: 15%;}}


/* sticky feedback button */
#page_header .feedback {position: fixed;
                        top: 23em;
                        left: 0;
                        transform: rotate(-90deg);
                        -webkit-transform: rotate(-90deg);
                        -moz-transform: rotate(-90deg);
                        -o-transform: rotate(-90deg);
                        border: 2px solid #FFFFFF;
                        overflow: auto;}
#page_header .feedback a {padding: 1.15em 1em;
                          display: block;}
#page_header .feedback a:hover {background-color: #336699;
                                font-weight: bold;}