#page_header{font-size:13px;clear:both}

#page_header a {text-decoration: none;}

/* accesskey navigation */
#page_header ul.skip_nav {margin: 0;
                          position: absolute;}

#page_header .skip_nav a {
position: absolute;
top: -100px;
overflow: hidden;
margin-left: 47em;
background-color: #CCCCCC;
}

#page_header .skip_nav a:focus {
position: absolute;
white-space: nowrap;
padding: .5em;
-webkit-transition: top 0.1s ease-in 0s, background 0.5s linear 0s;
transition: top 0.1s ease-in 0s, background 0.5s linear 0s;
top: 0;
z-index: 100;
outline: 0;
background-color: #985735;
border-radius: 0 0 6px 6px;
box-shadow: 3px 3px 3px rgba(0,0,0,.3);
}

/* blue nav bar */
#page_header .nih a{color: white; background-color: #005295;}
#page_header .blue_nav_bar {background-color: #336699;}
#page_header .norm_height {height: 47px;}
#page_header .ncbi {padding: 1.15em 1em;}
#page_header .nih img {padding: .7em 1em;}
#page_header .ncbi_name {padding: 0 .5em 0 1em;
                         font-weight: bold;}
#page_header .vertical_divider {color: #EAEAEA;
                                padding: 0 .5em;}
#page_header .blue_nav_bar, #page_header .blue_nav_bar a, #page_header .skip_nav a {color: #FFFFFF;}
#page_header a.header_link {padding: 1.15em 1em;}
#page_header a.left_padding_loginlink{padding-left:1em}


/* category bar */
#page_header .bg-gray {background-color: #EAEAEA;}
#page_header ul.category_bar {padding: .5em 0;}
#page_header ul.category_bar li a {padding: .4em 1em .5em .75em;
                                   font-weight: bold;}
#page_header .category_bar a:hover {color: rgba(0,0,0,.6);}
#page_header .header-div {padding-bottom: 1em;}


/* search bar */
#page_header select {padding: .35em;
                     width: 12.5%;
                     background-color: #EAEAEA;
                     border-radius: 0;
                     border: 2px solid #FFFFFF;
                     box-shadow: 1px 1px 2px #FFFFFF;}


/* 'Search NCBI' placeholder styles - cannot be combined into a single selector */
#page_header input:focus::-webkit-input-placeholder {transition: opacity 0.5s 0.5s ease; opacity: 0;}
#page_header input:focus:-moz-placeholder {transition: opacity 0.5s 0.5s ease; opacity: 0;}
#page_header input:focus::-moz-placeholder {transition: opacity 0.5s 0.5s ease; opacity: 0;}
#page_header input:focus:-ms-input-placeholder {transition: opacity 0.5s 0.5s ease; opacity: 0;}


#page_header button[name=Search] {background: #985735;
                                  color: #FFFFFF;
                                  border: none;
                                  padding: 0.5em 0.8em 0.5em 0.5em;
                                  margin: 0;}
#page_header .offscreen_noflow {height: 0;
                                margin: 0;
                                padding: 0;
                                text-indent: -9999em;}
#page_header .search_bar {margin: 0 .5em;}

.myncbi2 {  margin:0; padding:0;  }
.myncbi2 li {display:inline-block; padding-left:10px; padding-right:10px;}

/* media query for screen sizes smaller than 1008px */
@media only screen and (max-width: 1007px) {
#page_header select {width: 15%;}
}

/* new styles for GWS project */
header {background-color: #ebebeb;
        box-shadow: 0 3px 3px rgba(0,0,0,.39);
        height: 4.5em;
        position: relative;
        z-index: 10;}

@media only screen and (max-width: 982px) {.logo {margin: 1.2em 0 1em 1em;}}
@media only screen and (min-width: 983px) {.logo {margin: 1em 0 1em 1em;}}

@media only screen and (max-width: 600px) {.logo {width: 25%;}}
@media only screen and (min-width: 601px) and (max-width: 660px) {.logo {width: 20%;}}
@media only screen and (min-width: 661px) and (max-width: 767px) {.logo {width: 18%;}}
@media only screen and (min-width: 768px) and (max-width: 1110px) {.logo {width: 15%;}}
@media only screen and (min-width: 1111px) {.logo {width: 12%;}}

.signin_icon {width: 50%;
              margin: 0.5em;}